For Iris dataset your task is to print steps for every split in the decision tree.

In [2]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
import numpy as np

In [44]:
###correct code
import math
import numpy as np

def d_t(df_d,feature,l=0):
    
    #pure node-- only class in op
    set_=list(set(df_d['op']))
    if len(set_)==1:
        print('level',l)
        e=entropy_(df_d['op'])
        print('entropy',e)
        print('count of ',set_[0],'is ',len(df_d['op']))
        print('pure node')
        print()
        return
    
    #if no feature left
    elif len(feature)==0:
        print('no features left')
        return
    
    else:
    #decide feature to split on
        max_gain=-1
        #go to all features and pick feature with maximum gain
        for i in feature:
            new_x=df_d[i]
            #calculate gain
            g=gain_ratio(new_x)
            ig=info_gain_(new_x)
            if ig>max_gain:   ###compare their information gains and pick feature with max info gain
                max_gain=ig
                gr=g
                f=i
        e=entropy_(df_d['op'])
        print('level',l)
        print('entropy',e)
        
        #print different values of the feature and their count
        d={}
        for i in df_d['op']:
            d[i]=d.get(i,0)+1
        for i in d:
            print('Count of ',i,'is',d[i])
    
        print('splitting on feature',f,gr)
        
        ###remove this feature from final feature list
        feature.remove(f)
        print()
        
        ### go to all possible values of that particular feature
        t=df_d[f]
        
        for i in set(t):
            x=df_d[df_d[f]==i]
            d_t(x,feature,l+1)

def pi(x):
    d={}
    for i in x:
        d[i]=d.get(i,0)+1
    n=len(x)
    d2={}
    for i in d:
        d2[i]=d[i]/n
    return d2

def info_gain_(x):
    d2=pi(x)
    info_n=0
    for i in d2:
        info_n+=(-1*d2[i]*math.log(d2[i]))
    info_f=0
    for i in d2:
        info_f+=(-1*d2[i]*d2[i]*math.log(d2[i]))
    return info_n-info_f

def entropy_(x):
    d2=pi(x)
    e=0
    for i in d2:
        e+=(-1*d2[i]*math.log(d2[i]))
    return e

def gain_ratio(x):
    info_g=info_gain_(x)
    split_info=split_info_(x)
    return (info_g)/split_info

def split_info_(x):
    split_info=0
    d2=pi(x)
    for i in d2:
        split_info+=(-1*d2[i]*math.log(d2[i]))
    return split_info

In [45]:
import pandas as pd
arr=np.array([[True,True],[False,True],[True,False],[False,False]])
arr2=np.array([True,True,True,False])
f=['x1','x2','op']
df=pd.DataFrame(data=np.c_[arr,arr2],columns=f)
d_t(df,f)

level 0
entropy 0.5623351446188083
Count of  True is 3
Count of  False is 1
splitting on feature x1 0.5

level 1
entropy 0.6931471805599453
Count of  True is 1
Count of  False is 1
splitting on feature x2 0.5

level 2
entropy 0.0
count of  False is  1
pure node

level 2
entropy 0.0
count of  True is  1
pure node

level 1
entropy 0.0
count of  True is  2
pure node

In [61]:
iris=datasets.load_iris()
features=iris.feature_names
x=iris.data
y=iris.target
features.append('op')
df=pd.DataFrame(np.c_[x,y],columns=features)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),op
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [62]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),op
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [63]:
def category(data, *boundaries):
    if data <= boundaries[0]:
        return 'a'
    elif data <= boundaries[1]:
        return 'b'
    elif data <= boundaries[2]:
        return 'c'
    else:
        return 'd'
    
for i in features:
    minimum = df[i].min()    #minimum
    second = df[i].mean()    #mean
    maximum = df[i].max()    #maximum
    
    first = (second + minimum)/2
    third = (second + maximum)/2
    
    df[i] = df[i].apply(category, args = (first, second, third))
df.head()

  sepal length (cm) sepal width (cm) petal length (cm) petal width (cm) op
0                 b                c                 a                a  a
1                 a                b                 a                a  a
2                 a                c                 a                a  a
3                 a                c                 a                a  a
4                 a                c                 a                a  a

In [64]:
d_t(df,features)

level 0
entropy 1.0986122886681096
Count of  a is 50
Count of  b is 50
Count of  d is 50
splitting on feature sepal length (cm) 0.736475952308441

level 1
entropy 0.9548448707361131
Count of  a is 22
Count of  b is 21
Count of  d is 5
splitting on feature sepal width (cm) 0.7419495704869552

level 2
entropy 0.5146531654289292
Count of  b is 15
Count of  d is 4
splitting on feature petal width (cm) 0.6705792305050088

level 3
entropy 0.0
count of  b is  2
pure node

level 3
entropy 0.0
count of  b is  13
pure node

level 3
entropy 0.0
count of  d is  4
pure node

level 2
entropy 0.410116318288409
Count of  b is 6
Count of  d is 1
splitting on feature petal length (cm) 0.5421196756747646

level 3
entropy 0.0
count of  b is  2
pure node

level 3
entropy 0.5004024235381879
Count of  b is 4
Count of  d is 1
splitting on feature op 0.585954464661687

level 4
entropy 0.0
count of  b is  4
pure node

level 4
entropy 0.0
count of  d is  1
pure node

level 2
entropy 0.0
count of  a is  12
pure node

level 2
entropy 0.0
count of  a is  10
pure node

no features left
no features left
no features left